<style>

	.text-center {
		padding: 100px;
	}

	h4 {
		color: white;
	}


	h1 {
		color: goldenrod;
	}

	p {
		color: white;
	}

</style>
<div class="text-center">

	<h1>SCOPE INDIA, your career partner!</h1>
	<h2>
		One of India's best Training destinations for Software, Networking,
		<br>and Cloud Computing courses with 17 years of Industrial
		<br>experience.
	</h2>
	<p>
		Software, Networking, and Cloud Professional Education Centre in Kerala and Tamil Nadu from <strong>Suffix E Solutions</strong> with WORKING <br>PROFESSIONALS oriented on-the-job TRAINING model. SCOPE INDIA provides courses for <strong>Software Programming</strong> in Python (Data Science |<br /> Artificial Intelligence | Machine Learning | Deep Learning, Data Analytics), Java, PHP, .Net, MERN,<strong>Software Testing</strong> Manual and Automation,<br /><strong>Cloud Computing</strong> (AWS | Azure),<strong> Server Administration</strong> (MicroSoft MCSE | Linux RHCE), Networking (CCNA),<strong> DevOps, Mobile App<br />Development</strong> in Flutter, and <strong>Digital Marketing</strong>. A Training with a 100% Trusted Job-Based Internship Model. SCOPE INDIA has a Strong<br />Placement Cell that provides jobs to thousands of students annually. We assure you, you won't regret it after training from SCOPE INDIA!

		<br>This is how SCOPE INDIA can support both newbies and those experienced in the industry to upgrade their skills.
	</p>
	<p><br> This is how SCOPE INDIA can support both newbies and those experienced in the industry to upgrade their skills.</p>

	<div style="display:flex; justify-content:center;">
		<img src="~/images/5star.png" alt="Logo" style="width:250px;" />
	</div>
</div>